*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #02331c;
}

ul {
    list-style-type: none;
}

li {
    position: relative;
}

a {
    text-decoration: none;
}

nav {
    padding: 60px 0 0 0;
}

.menu-list {
    display: flex;
    justify-content: center;
}

.menu-link {
    font-size: 16px;
    color: rgb(22, 212, 54);
    text-align: center;
    display: inline-block;
    background-color: rgb(0, 43, 13);
    min-width: 150px;
    height: 40px;
    line-height: 40px;
}

.menu-list > li:hover .sub-menu-list {
    display: block;
}

.sub-menu-list {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
}

.sub-menu-link {
    display: inline-block;
    min-width: 150px;
    font-size: 16px;
    color: rgb(9, 255, 214);
    text-align: center;
    background-color: rgb(1, 126, 105);
    padding: 10px 0;
}

.sub-menu-list > li:hover .sub-sub-menu-list{
    display: block;
}  

.sub-sub-menu-list {
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
}

.sub-sub-menu-link {
    display: inline-block;
    min-width: 150px;
    font-size: 16px;
    color: rgb(95, 255, 194);
    text-align: center;
    background-color: rgb(37, 150, 37);
    padding: 10px 0;
} 